.Rejilla {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
}
  
.FilasRejilla {
    display: flex;
    width: 100%;
        /* border: 1px solid black; */
}
  
.RejillaRectangulo {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: #f1f1f1;
}

/* Llamamaos a la className RejillaRectangulo barco */
.barco {
    background-color: #d10f0f;
}

.agua{
    background-color: aqua;
}

.seleccionado{
    background-color: #4ce24c;
}